<footer class="ui inverted vertical segment">
    <div class="ui container">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="three wide column">
          <h4 class="ui inverted header">Enlaces importantes</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Acerca de nosotros</a>
            <a href="#" class="item">Contacto</a>
            <a href="#" class="item">Preguntas frecuentes</a>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header">Redes sociales</h4>
          <div class="ui inverted link list">
            <a href="#" class="item"><i class="facebook icon"></i> Quienes somos</a>
            <a href="#" class="item"><i class="twitter icon"></i> Twitter</a>
            <a href="#" class="item"><i class="linkedin icon"></i> LinkedIn</a>
          </div>
        </div>
        <div class="seven wide column">
          <h4 class="ui inverted header">Acerca de este sitio web</h4>
          <p>Este es un sitio web creado para mostrar un ejemplo de cómo utilizar Semantic UI en HTML. </p>
        </div>
      </div>
    </div>
  </footer>
  